<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.ui.startup">
		<startup class="com.ncjones.editorconfig.eclipse.EditorConfigEclipsePlugin"/>
	</extension>
	<extension point="org.eclipse.ui.propertyPages">
		<page
				class="com.ncjones.editorconfig.eclipse.EditorConfigPropertyPage"
				id="com.ncjones.editorconfig.eclipse.editorConfigPropertyPage"
				name="Editor Config"
				nameFilter="*.*">
			<enabledWhen>
				<instanceof value="org.eclipse.core.resources.IFile"/>
			</enabledWhen>
		</page>
	</extension>
</plugin>
